{% extends 'base.html.twig' %}

{% block title %} Golf{% endblock %}

{% block body %}
    <div class="container">
        <div class="centrage">
            <h1> Bienvenue !</h1>

            <h2> Que voulez-vous faire ? </h2>
            <br>
            <a class="btn btn-success" href="{{ path('upload_file') }}" role="button">
                Demande de cadence de jeu
            </a>
            <a href="#" class="btn btn-success  disabled" role="button" aria-disabled="true">
                Remonter écarts Partie/Trou
            </a>
        </div>
    </div>

{% endblock %}
