{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <table>
            <thead>
            <tr>
                <td>#</td>
                <td> Joueurs</td>
                <td> 1</td>
                <td> 2</td>
                <td> 3</td>
                <td> 4</td>
                <td> 5</td>
                <td> 6</td>
                <td> 7</td>
                <td> 8</td>
                <td> 9</td>
                <td> 10</td>
                <td> 11</td>
                <td> 12</td>
                <td> 13</td>
                <td> 14</td>
                <td> 15</td>
                <td> 16</td>
                <td> 17</td>
                <td> 18</td>
            </tr>
            </thead>
            <tbody>
            {% for value  in parsed_json %}
                <tr>
                    <td>
                        {{ value.nom }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
