{% extends 'base.html.twig' %}

{% block title %}Golf - Cadence de jeu{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">
        <div class="centrage">
            <h1 align="center">Cadence de jeu</h1>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.lieu) }}
            {{ form_row(form.date) }}
            {{ form_row(form._token) }}
            {{ form_row(form.nomFichier) }}
    <button type="submit" class="button" name="{{ form_row(form.submit) }}</button>
            <br>
            <br>
        </div>
    </div>
{% endblock %}