<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Golf{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('/assets/css/custom.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/jpg" href="{{asset('images/icon.jpg')}}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
